@using Domain
@implements IDialogContentComponent<Statistics>

<FluentDialogHeader>
    <FluentLabel Typo="Typography.PaneHeader">
        Statistics
    </FluentLabel>
</FluentDialogHeader>
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" Gap="20">

        <FluentStack HorizontalGap="40">
            <Stat Label="Played" Value="@Content.GamesPlayed" />
            <Stat Label="Win %" Value="@($"{Content.WinRate:0}%")" />
            <Stat Label="Avg guesses" Value="@Content.AvgGuesses.ToString("0.0")" />
        </FluentStack>

        <FluentStack HorizontalGap="40">
            <Stat Label="Current streak" Value="@Content.CurrentStreak" />
            <Stat Label="Max streak" Value="@Content.MaxStreak" />
        </FluentStack>

        @if (Content.BestTime != null)
        {
            <FluentStack Style="margin-top: 25px;" HorizontalGap="40">
                <FluentLabel Typo="Typography.Body">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Trophy())" />Best time:
                    <b>@Content.BestTime.Value.ToString(@"mm\:ss")</b>
                </FluentLabel>

                <FluentLabel Typo="Typography.Body">
                    Avg time:
                    <b>@Content.AvgDuration.ToString(@"mm\:ss")</b>
                </FluentLabel>
            </FluentStack>
        }
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="10" Style="margin-top: 25px;">
            <FluentLabel Typo="Typography.Subject" Weight="FontWeight.Bold">
                Guess distribution
            </FluentLabel>
            @if (Content.GuessDistribution.Any())
            {
                var max = Content.GuessDistribution.Max(x => x.Value);

                @foreach (var entry in Content.GuessDistribution.OrderBy(x => x.Key))
                {
                    var percentage = max == 0 ? 0 : (double)entry.Value / max * 100;

                    <FluentStack Orientation="Orientation.Horizontal" Gap="8" VerticalAlignment="VerticalAlignment.Center">
                        <FluentLabel Style="width: 24px; text-align: right;">
                            @entry.Key
                        </FluentLabel>
                        <div class="guess-bar-container">
                            <div class="guess-bar"
                                 style="width: @percentage%;">
                                @entry.Value
                            </div>
                        </div>
                    </FluentStack>
                }
            }
            else
            {
                <FluentLabel Typo="Typography.Body">
                    No data yet.
                </FluentLabel>
            }
        </FluentStack>
        @* <FluentStack Orientation="Orientation.Vertical" Gap="6">
            <FluentLabel Typo="Typography.Body" Weight="FontWeight.Bold">
                Guess distribution
            </FluentLabel>

            @foreach (var entry in Content.GuessDistribution.OrderBy(x => x.Key))
            {
                <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                    <FluentLabel>@($"{entry.Key} guesses")</FluentLabel>
                    <FluentLabel><b>@entry.Value</b></FluentLabel>
                </FluentStack>
            }
        </FluentStack> *@

    </FluentStack>
</FluentDialogBody>
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CloseAsync">
        Close
    </FluentButton>
</FluentDialogFooter>